include pug/libs/_libs

doctype html
html(lang="en")
    include pug/_head
    body 
        include pug/blocks/header/_header
        include pug/blocks/main/_main
        include pug/blocks/footer/_footer