header 
    +logo()
    div 
        +menu([
            ['#', 'Главная'],
            ['#', 'О нас'],
            ['#', 'Продукция'],
            ['#', 'Процесс'],
            ['#', 'Надёжность'],
            ['#', 'Клиенты'],
            ['#', 'Связаться с нами']
        ])
        button(class='demo demo__header') Заказать демо