header 
    .logo 
        +image('logo.png')
        span Travelo
    .header__wrap 
        +menu('menu', ['Destinantion', 'Service', 'About us', 'Contact'], 1)
        .search 
            +image('search.svg')
        .menu__icon
            div 
            div 
            div 