section.start
    h1 Get the best deals on Easy Travel trips
    h2
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
    .start__btn 
        button
            +image('apple.png')
            div 
                span Download on the
                span Apple Store
        button
            +image('google-play.png')
            div 
                span Get it from
                span Google Play