section.about 
    h3 Что такое СтройКонтроль?
    p
        | СтройКонтроль - это интеллектуальная система 
        | управления доставкой, предоставляющая информацию и 
        | контроль материалов на сложных строительных 
        | площадках в режиме реального времени.
        +aboutItems('Отслеживайте доставку по всей цепочке поставок',
        'От поставщика до субподрядчика - вы всегда знаете, где находятся ваши материалы, благодаря чему обычные отходы уходят в прошлое и сокращаются несчастные случаи на месте.',
        '')
        +aboutItems('Оптимизируйте и контролируйте свое прибытие на место',
        'Транспортные средства доставки прибывают в фиксированные промежутки времени в заранее назначенные отсеки, где разгрузочное оборудование готово и ждет их.',
        '')
        +aboutItems('Возьмите под контроль данные в режиме реального времени',
        'Интеллектуальная отчетность дает вам возможность принимать решения в зависимости от того, как обстоят дела в данный момент. Больше никаких ручных отчетов по заливке бетона или ежемесячной проверки 10.000 накладных со счетами, все это доступно онлайн без каких-либо усилий.',
        '')