section.app 
    +image()
    h3 Создан для строительства
    ul
        +listItem([
            'Хорошо виден в любых условиях',
            'Независимо от того, солнечно или темно, найдется подходящий режим экрана'
        ])
        +listItem([
            'Поддержка международных языков',
            'На современной стройке работают люди со всего мира. Язык не является проблемой для СтройКонтроля.'
        ])
        +listItem([
            'Работает на любом устройстве - мобильном телефоне, планшете, ноутбуке',
            'Люди на разных должностях используют разные устройства. СтройКонтроль автоматически настраивается в соответствии с требованиями. Вы также можете проецировать панели мониторинга живого проекта на настенные экраны.'
        ])
    +btnWrap('demo__app', 'more__item')
    .app_benefit
        +benefitItem('app__item', [
            '',
            'Привлечение субподрядчика',
            'Для выполнения этой работы вам понадобятся ваши субподрядчики. У нас есть проверенный и надежный процесс для этого.'
        ])
        +benefitItem('app__item', [
            '',
            'Привлечение субподрядчика',
            'Для выполнения этой работы вам понадобятся ваши субподрядчики. У нас есть проверенный и надежный процесс для этого.'
        ])
            +benefitItem('app__item', [
            '',
            'Привлечение субподрядчика',
            'Для выполнения этой работы вам понадобятся ваши субподрядчики. У нас есть проверенный и надежный процесс для этого.'
        ])