section.benefit 
    +benefitItem('benefit__item', ['', 'Повышение эффективности',
    'Эффективные проекты стоят дешевле и завершаются в срок.]'])
    +benefitItem('benefit__item', ['', 'Снижение потерь',
    'Тщательно отслеживайте движение стройматериалов, чтобы избежать краж и повреждений.'])
    +benefitItem('benefit__item', ['', 'Повышение безопасности',
    'Обеспечьте здоровье и благополучие людей, работающих на вашей площадке.'])