section.certificate 
    +certificateItem('50 лучших инструментов ConTech')
    +certificateItem('25 лучших стартапов ConTech в ЕС')
    +certificateItem('50 лучших стартапов Global ConTech')
    +certificateItem('2018 - 50 лучших стартапов ЕС PropTech')