section.how 
    div 
        h4 Как с нами работать
        p
            | Начать работу со СтройКонтроль легко, достаточно заказать демо-версию.
        +image()
    div 
        ol
            +listItem('Заказать демо',
            'Вы увидите презентацию, в которой подробно объясняется, как работает СтройКонтроль для решения задач строительной логистики в таких сложных проектах, как ваш.')
            +listItem('Заказать демо',
            'Вы увидите презентацию, в которой подробно объясняется, как работает СтройКонтроль для решения задач строительной логистики в таких сложных проектах, как ваш.')
            +listItem('Заказать демо',
            'Вы увидите презентацию, в которой подробно объясняется, как работает СтройКонтроль для решения задач строительной логистики в таких сложных проектах, как ваш.')
            +listItem('Заказать демо',
            'Вы увидите презентацию, в которой подробно объясняется, как работает СтройКонтроль для решения задач строительной логистики в таких сложных проектах, как ваш.')
    +btnWrap('demo__how', 'more__how')