section.info 
    .info__item
        h3 Строительство - это хаос
        p 
            | Хаос может быть удивительной творческой силой, воздвигающая новые здания из пыли.
            | Хаос вызывает несчастные случаи, задержки и потери. Он вводит проекты в стресс и разочарование.
            | Это означает, что вы действительно не контролируете ситуацию.
        +image()
    .info__item
        h3 Пора навести порядок на вашей стройплощадке и взять под контроль свой проект
        .info__item_wrap 
            div 
                p
                    | Мы заботимся о доставке на стройплощадку и о людях,
                    | которые на них рассчитывают
                p
                    | Мы знаем всё о гордости от сияющего нового здания.
                    | Нам также известно всё о разочаровании от попыток завершить проект в срок и в рамках бюджета.
                p
                    | Мы здесь, чтобы помочь.
        +image()