section.post
    h3 Доставка стала проще
    h4 Мы позаботимся обо всех ваших различных поставках и их многочисленных специализированных требованиях к разгрузке.
    .post__wrap 
        +postItem('post__item', '', [
            'Бетон',
            'Поставки бетона точно планируются, а его состояние контролируется, что обеспечивает максимально возможное время для установки.'
        ])
        +postItem('post__item', '', [
            'Утилизация отходов',
            'Отходы контролируются и сортируются, а заполненность контейнеров отслеживается в цифровом виде.'
        ])
        +postItem('post__item', '', [
            'Опалубка',
            'Вся опалубка отслеживается от прибытия до отправления, а ее состояние контролируется, что сводит к минимуму потери и повреждения.'
        ])
        +postItem('post__item', '', [
            'Сборные панели',
            'Сборные панели прибывают по очереди, их хранение на месте отслеживается, а их установка планируется и контролируется.'
        ])
        +postItem('post__item', '', [
            'Фасады',
            'Элементы фасада поступают последовательно, их сборка контролируется, а перемещение отслеживается.'
        ])
        +postItem('post__item', '', [
            'Отделка',
            'Материалы поступают точно в срок, маркируются и детально отслеживаются для установки.'
        ])
        +postItem('post__item', '', [
            'Строительные леса',
            'Строительные леса отслеживаются от получения до хранения, использования и возврата, поэтому всегда ясно, что на месте и где.'
        ])
        +postItem('post__item', '', [
            'Оборудование',
            'Оборудование и операторы гарантированно доступны в случае необходимости, а их рабочее состояние отслеживается.'
        ])
        +postItem('post__item', '',[
            'Электрика и сантехника',
            'Доставка осуществляется в точной последовательности для сложной установки, что сокращает или устраняет необходимость в хранении.'
        ])
    p
        | ...
        spam и все остальные материалы,
        | которые поступают или покидают вашу площадку