section.security 
    h3 Надёжность
    h5 Благодаря надёжному строительству выигрывают все - муниципальные органы выполняют свои обязанности перед гражданами, инвесторы получают сертификаты своих проектов, а генеральные подрядчики получают повышенную репутацию.
    .security__wrap
        +benefitItem('security__item', ['',
        'Сниженное загрязнение',
        'При оптимизации логистики требуется меньше поездок, что приводит к снижению выбросов CO2. Выбрасываемый CO2 контролируется, что позволяет ставить цели и вносить ощутимые улучшения.'])
        +benefitItem('security__item', ['',
        'Улучшенное управление отходами',
        'Упрощается сортировка отходов, автоматизируется утилизация отходов, а поврежденные материалы при необходимости используются повторно, что снижает затраты и стимулирует переработку и повторное использование.'])
        +benefitItem('security__item', ['',
        'Улучшенное влияние на общество',
        'Уменьшаются проблемы с дорожным движением и шумовое загрязнение, что улучшает жизнь местного сообщества. Улучшенное обращение с материалами и хранение означает, что рабочие также лучше защищены.'])
    .security__action 
        +image()
        p Надёжная конструкция СтройКонтроль входит в стандартную комплектацию.
        button Подробнее