section.why 
    h3 Почему нужно выбрать нас?
    h4 В строительной логистике всегда есть возможности для улучшения.
    .why__wrap 
        div 
            +postItem('why__item',
            '',
            [
                'Отмеченное наградами ПО',
                'Всемирно известное программное обеспечение, признанное государственными учреждениями, инновационными группами и техническими организациями'
            ])
            +postItem('why__item',
            '',
            [
                'Большой потенциал',
                'Входит в топ-25 самых многообещающих стартапов ConTech по версии Cemex Ventures, Moscow Consulting Group, BuiltWorld и PwC'
            ])
            +postItem('why__item',
            '',
            [
                'Выбор лидеров рынка',
                'Рекомендуемый поставщик технологий для 3 из 10 ведущих генеральных подрядчиков в Европе'
            ])
            +postItem('why__item',
            '',
            [
                'Устойчивое развитие и безопасность',
                'Способствует снижению выбросов CO2 и повышает безопасность на месте'
            ])
        div 
            p(data-why='0')
                | Мы видим огромный потенциал в таких решениях, 
                | как СтройКонтроль, и хотим использовать их для улучшения наших строительных процессов.
            p(data-why='1')
                | Мы видим огромный потенциал в таких решениях, 
                | как СтройКонтроль, и хотим использовать их для улучшения наших строительных процессов.
            div 
                +image()
                div
                    p Волков Матвей
                    p Генеральный директор ООО “СпецСтрой”
            .dot 
                div.dot_active
                div 